/*////////////////////////////////////////////////////////////
/////////////////////// GLOBAL STYLES ////////////////////////
////////////////////////////////////////////////////////////*/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  user-select: none;
  color: white; }
  body.theme_1 {
    color: #4AF626; }
  body.theme_2 {
    color: white; }
  body.theme_3 {
    color: #9fb4e6; }
  body.theme_4 {
    color: #fb3640; }

h3 {
  font-size: 1.4vw; }

h4 {
  font-size: 1.3vw; }

/*////////////////////////////////////////////////////////////
/////////////////////// MAIN PAGE STYLES /////////////////////
////////////////////////////////////////////////////////////*/
header {
  height: 5vw;
  display: flex;
  align-items: center; }
  header.theme_1 {
    background: linear-gradient(#000000, #23241f);
    box-shadow: inset 0 0 2vw white; }
  header.theme_2 {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    box-shadow: inset 0 0 2vw white; }
  header.theme_3 {
    background: #f55c47;
    box-shadow: inset 0 0 2vw white; }
  header.theme_4 {
    background: #fdca40;
    box-shadow: inset 0 0 2vw white; }
  header #generate_new_array {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%; }
    header #generate_new_array.theme_1 {
      border-right: 0.3vw double white; }
    header #generate_new_array.theme_2 {
      border-right: 0.3vw double white; }
    header #generate_new_array.theme_3 {
      border-right: 0.3vw double white; }
    header #generate_new_array.theme_4 {
      border-right: 0.3vw double white; }
    header #generate_new_array h3 {
      margin: 0; }
      header #generate_new_array h3:hover {
        color: crimson;
        cursor: pointer; }
  header #change_array_size_and_speed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%; }
    header #change_array_size_and_speed.theme_1 {
      border-right: 0.3vw double white; }
    header #change_array_size_and_speed.theme_2 {
      border-right: 0.3vw double white; }
    header #change_array_size_and_speed.theme_3 {
      border-right: 0.3vw double white; }
    header #change_array_size_and_speed.theme_4 {
      border-right: 0.3vw double white; }
    header #change_array_size_and_speed input {
      margin-left: 1vw;
      width: 25%; }
  header #sorting_algorithms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%; }
    header #sorting_algorithms.theme_1 {
      border-right: 0.3vw double white; }
    header #sorting_algorithms.theme_2 {
      border-right: 0.3vw double white; }
    header #sorting_algorithms.theme_3 {
      border-right: 0.3vw double white; }
    header #sorting_algorithms.theme_4 {
      border-right: 0.3vw double white; }
    header #sorting_algorithms #sorting_algorithm_select {
      margin-left: 1vw;
      font-size: 1.3vw;
      outline: none;
      padding: .5vw; }
      header #sorting_algorithms #sorting_algorithm_select.theme_1 {
        border-right: 0.1vw double white;
        background-color: black;
        color: #4AF626; }
      header #sorting_algorithms #sorting_algorithm_select.theme_2 {
        border-right: 0.1vw double white;
        background-color: #1e3c72;
        color: white; }
      header #sorting_algorithms #sorting_algorithm_select.theme_3 {
        border-right: 0.1vw double white;
        background-color: #32864f;
        color: #9fb4e6; }
      header #sorting_algorithms #sorting_algorithm_select.theme_4 {
        border-right: 0.1vw double white;
        background-color: #542e71;
        color: #fb3640; }
  header #start_sort {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%; }
    header #start_sort:hover {
      color: crimson;
      cursor: pointer; }

section {
  height: calc(100% - 2 * 5vw);
  padding-top: 1vw;
  box-sizing: border-box;
  position: relative; }
  section.theme_1 {
    background-color: black;
    box-shadow: inset 0 0 3vw rgba(255, 255, 255, 0); }
  section.theme_2 {
    background-color: #2C1775;
    box-shadow: inset 0 0 3vw black; }
  section.theme_3 {
    background-color: #564a4a;
    box-shadow: inset 0 0 3vw black; }
  section.theme_4 {
    background-color: #a799b7;
    box-shadow: inset 0 0 3vw rgba(255, 255, 255, 0); }
  section #sorting_array_container {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center; }
    section #sorting_array_container .visual_array_item {
      text-align: center;
      padding-top: 1vw;
      font-size: 1vw;
      text-shadow: 0.1vw 0.1vw black; }
      section #sorting_array_container .visual_array_item.theme_1 {
        background-color: white;
        border: 0.1vw solid black; }
      section #sorting_array_container .visual_array_item.theme_2 {
        background-color: #5959ad;
        border: 0.1vw solid #17176d; }
      section #sorting_array_container .visual_array_item.theme_3 {
        background-color: #4aa96c;
        border: 0.1vw solid black; }
      section #sorting_array_container .visual_array_item.theme_4 {
        background-color: white;
        border: 0.1vw solid black; }
  section #change_sorting_speed {
    position: absolute;
    bottom: 1%;
    left: 5%;
    width: 30%;
    text-align: center; }
    section #change_sorting_speed h3 {
      margin: 0; }
    section #change_sorting_speed input {
      width: 100%; }
  section .themes_container {
    position: absolute;
    bottom: 3%;
    right: 1%;
    display: flex; }
    section .themes_container > div {
      margin: 0 1vw;
      text-align: center; }
      section .themes_container > div:hover {
        color: crimson; }
    section .themes_container .themes {
      width: 8vw;
      height: 3vw; }

footer {
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer.theme_1 {
    background: linear-gradient(#000000, #23241f);
    box-shadow: inset 0 0 2vw white; }
  footer.theme_2 {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    box-shadow: inset 0 0 2vw white; }
  footer.theme_3 {
    background: #f55c47;
    box-shadow: inset 0 0 2vw white; }
  footer.theme_4 {
    background: #fdca40;
    box-shadow: inset 0 0 2vw white; }

/*////////////////////////////////////////////////////////////
/////////////////////// MEDIA QUERIES ////////////////////////
////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 2vw; }
  header {
    flex-wrap: wrap;
    height: 15vw; }
    header #generate_new_array {
      width: calc(50% - 0.3vw);
      height: 50%; }
      header #generate_new_array.theme_1 {
        border-right: 0.3vw double white; }
      header #generate_new_array.theme_2 {
        border-right: 0.3vw double white; }
      header #generate_new_array.theme_3 {
        border-right: 0.3vw double white; }
      header #generate_new_array.theme_4 {
        border-right: 0.3vw double white; }
    header #change_array_size_and_speed {
      width: calc(50% - 0.3vw);
      height: 50%; }
      header #change_array_size_and_speed.theme_1 {
        border-right: 0.3vw double white; }
      header #change_array_size_and_speed.theme_2 {
        border-right: 0.3vw double white; }
      header #change_array_size_and_speed.theme_3 {
        border-right: 0.3vw double white; }
      header #change_array_size_and_speed.theme_4 {
        border-right: 0.3vw double white; }
    header #sorting_algorithms {
      width: calc(50% - 0.3vw);
      height: 50%; }
      header #sorting_algorithms #sorting_algorithm_select {
        margin-left: 2vw;
        font-size: 1.8vw; }
    header #start_sort {
      width: calc(50% - 0.3vw);
      height: 50%; }
  section {
    height: calc(100% - 4 * 5vw); }
  footer {
    height: 5vw; } }

@media only screen and (max-width: 500px) {
  h3 {
    font-size: 2.5vw; }
  header {
    flex-wrap: wrap;
    height: 35vw; }
    header #generate_new_array {
      width: 100%;
      border-right: 0;
      height: 25%; }
      header #generate_new_array.theme_1 {
        border-right: 0.3vw double white; }
      header #generate_new_array.theme_2 {
        border-right: 0.3vw double white; }
      header #generate_new_array.theme_3 {
        border-right: 0.3vw double white; }
      header #generate_new_array.theme_4 {
        border-right: 0.3vw double white; }
    header #change_array_size_and_speed {
      width: 100%;
      border-right: 0;
      height: 25%; }
      header #change_array_size_and_speed.theme_1 {
        border-right: 0.3vw double white; }
      header #change_array_size_and_speed.theme_2 {
        border-right: 0.3vw double white; }
      header #change_array_size_and_speed.theme_3 {
        border-right: 0.3vw double white; }
      header #change_array_size_and_speed.theme_4 {
        border-right: 0.3vw double white; }
    header #sorting_algorithms {
      width: 100%;
      border-right: 0;
      height: 25%; }
      header #sorting_algorithms.theme_1 {
        border-right: 0.3vw double white; }
      header #sorting_algorithms.theme_2 {
        border-right: 0.3vw double white; }
      header #sorting_algorithms.theme_3 {
        border-right: 0.3vw double white; }
      header #sorting_algorithms.theme_4 {
        border-right: 0.3vw double white; }
      header #sorting_algorithms #sorting_algorithm_select {
        margin-left: 2vw;
        font-size: 1.8vw; }
    header #start_sort {
      width: 100%;
      border-right: 0;
      height: 25%; }
      header #start_sort.theme_1 {
        border-right: 0.3vw double white; }
      header #start_sort.theme_2 {
        border-right: 0.3vw double white; }
      header #start_sort.theme_3 {
        border-right: 0.3vw double white; }
      header #start_sort.theme_4 {
        border-right: 0.3vw double white; }
  section {
    height: calc(100% - 8 * 5vw); }
  footer {
    height: 5vw; } }

@media only screen and (max-width: 400px) {
  h3 {
    font-size: 3vw; }
  header {
    height: 50vw; }
    header #sorting_algorithms #sorting_algorithm_select {
      font-size: 2.5vw; }
  section {
    height: calc(100% - 11 * 5vw); } }


/*# sourceMappingURL=main.css.map*/