/*////////////////////////////////////////////////////////////
/////////////////////// GLOBAL STYLES ////////////////////////
////////////////////////////////////////////////////////////*/
body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

h3 {
  font-size: 1.4vw; }

h4 {
  font-size: 1.3vw; }

/*////////////////////////////////////////////////////////////
/////////////////////// MAIN PAGE STYLES /////////////////////
////////////////////////////////////////////////////////////*/
header {
  height: 5vw;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 2vw white; }
  header #generate_new_array {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border-right: 0.3vw double white; }
    header #generate_new_array h3 {
      margin: 0; }
      header #generate_new_array h3:hover {
        color: crimson;
        cursor: pointer; }
  header #change_array_size_and_speed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    border-right: 0.3vw double white; }
    header #change_array_size_and_speed input {
      margin-left: 1vw;
      width: 25%; }
  header #sorting_algorithms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border-right: 0.3vw double white; }
    header #sorting_algorithms #sorting_algorithm_select {
      margin-left: 1vw;
      font-size: 1.3vw;
      border: .1vw solid white;
      outline: none;
      background-color: #3235cd;
      color: white;
      padding: .5vw; }
  header #start_sort {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%; }
    header #start_sort:hover {
      color: crimson;
      cursor: pointer; }

section {
  height: calc(100% - 2 * 5vw);
  background-color: #2C1775;
  box-shadow: inset 0 0 3vw black;
  padding-top: 1vw;
  box-sizing: border-box; }
  section #sorting_array_container {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center; }
    section #sorting_array_container .visual_array_item {
      color: white;
      text-align: center;
      padding-top: 1vw;
      background-color: #5959ad;
      margin: 0 .1vw;
      font-size: 1vw; }

footer {
  height: 5vw;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 2vw white; }

/*////////////////////////////////////////////////////////////
/////////////////////// MEDIA QUERIES ////////////////////////
////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 2vw; }
  header {
    flex-wrap: wrap;
    height: 15vw; }
    header #generate_new_array {
      width: calc(50% - 0.3vw);
      height: 50%;
      border-bottom: 0.1vw solid white; }
    header #change_array_size_and_speed {
      width: calc(50% - 0.3vw);
      height: 50%;
      border-bottom: 0.1vw solid white; }
    header #sorting_algorithms {
      width: calc(50% - 0.3vw);
      height: 50%; }
      header #sorting_algorithms #sorting_algorithm_select {
        margin-left: 2vw;
        font-size: 1.8vw; }
    header #start_sort {
      width: calc(50% - 0.3vw);
      height: 50%; }
  section {
    height: calc(100% - 4 * 5vw); }
  footer {
    height: 5vw; } }

@media only screen and (max-width: 500px) {
  h3 {
    font-size: 2.5vw; }
  header {
    flex-wrap: wrap;
    height: 35vw; }
    header #generate_new_array {
      width: 100%;
      border-right: 0;
      height: 25%;
      border-bottom: 0.1vw solid white; }
    header #change_array_size_and_speed {
      width: 100%;
      border-right: 0;
      height: 25%;
      border-bottom: 0.1vw solid white; }
    header #sorting_algorithms {
      width: 100%;
      border-right: 0;
      height: 25%;
      border-bottom: 0.1vw solid white; }
      header #sorting_algorithms #sorting_algorithm_select {
        margin-left: 2vw;
        font-size: 1.8vw; }
    header #start_sort {
      border-bottom: 0.1vw solid white;
      width: 100%;
      border-right: 0;
      height: 25%; }
  section {
    height: calc(100% - 8 * 5vw); }
  footer {
    height: 5vw; } }

@media only screen and (max-width: 400px) {
  h3 {
    font-size: 3vw; }
  header {
    height: 50vw; }
    header #sorting_algorithms #sorting_algorithm_select {
      font-size: 2.5vw; }
  section {
    height: calc(100% - 11 * 5vw); } }


/*# sourceMappingURL=main.css.map*/